/*
 * Copyright (C) 2019 Evgeny Kapun.
 * This game is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option)
 * any later version. This game is distributed without any warranty.
 */

body {font-family: Helvetica, sans-serif}
symbol {overflow: initial}
#game {margin-top: 8px; background-color: black}
#game * {pointer-events: none}
.cell {fill: white}
.clue {fill: #aaa}
.number {font-size: 32px; dominant-baseline: central; text-anchor: middle}
line {stroke: black; stroke-width: 8px; stroke-linecap: square}
.dialog-bg {display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: #000000c0}
.dialog-box {margin: auto; border-radius: 20px; padding: 20px; width: 400px; background-color: white}
.dialog-buttons {margin-top: 10px; text-align: center}
#options-bg table {width: 100%}
#options-bg td {width: 50%}
#options-bg input {width: 180px}
#solved-bg {text-align: center}
#solved-bg h1 {margin-bottom: 10px}